body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 47);
    margin: 0 auto;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;

}

#add-movie-form fieldset {
    display: grid;
    border: none;
}

h1,
h2,
#movie-list,
fieldset {
    color: #ffffffe5
}

#movie-list {
    display: block;
    list-style: none;
}

img {
    width: 20px;
    height: auto;
}

button {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    background-color: rgb(81, 79, 143);
    border: 0px;
    cursor: pointer;

}

#add-movie-form input,
select {
    margin: 10px;
    padding: 5px;
    width: 300px;
}

#add-movie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#submit-btn {
    background-color: #5ab652;
    display: inline-block;
    margin: 0 auto;
}

.order-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.323);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    margin-bottom: 7px;
}

.movie-title {
    font-weight: bold;
}

.movie-images {
    display: flex;
    gap: 2px;
}